$oswald-bold: 'oswald-bold';
$oswald-extra-light: 'oswald-extra-light';
$oswald-light: 'oswald-light';
$oswald-medium: 'oswald-medium';
$oswald-regular: 'oswald-regular';
$oswald-semi-bold: 'oswald-semi-bold';
